
.canvas1 , .canvas3 ,.canvas4
{
margin: auto; 
background: lightgray; 
width: 100px; 
height: 100px; 
}
.canvas2 
{
    margin: auto; 
    background: lightgray; 
    width: 100px; 
    height: 100px; 
    }
button
{
    background-color: rgb(87, 48, 230);
    border: .3rem solid transparent;
    border-radius: 10%;
    color: white;
    transition: 2s;
    padding: 5px 5px;
    box-shadow: 0 9px #999;

}
button:hover
{
    background-color: rgb(38, 33, 194);
}
button:active
{
    background-color: #3e8e41;
    box-shadow: 0 4px #999;
    
    transform: translateY(40px);
}
.Effects
{
    display: ;
    justify-content: space-around;
}
h1
{
    color:gold;
}
#hone a,#hone
{
    text-decoration: none;
    text-align: center;
    color:black;
    background-color: steelblue;
}
